<p>
  gallerys works!
</p>
<div class="card mb-3" *ngFor="let gallery of galleries">
    <h2 class="card-header">{{ gallery.name }}</h2>
    <div class="card-body">
      <h4>{{ gallery.user.first_name}} {{ gallery.user?.last_name}}</h4>
      <h5 class="card-title">Description</h5>
      <p class="card-subtitle text-muted">{{ gallery.description }}</p>
      <img style="height: 200px; display: block" src="{{ gallery.images[0].url }}" alt="image">
      <p class="card-text">{{ gallery.created_at }}</p>
  </div>