<div class="container">
  <hr>
  <form #galleriesForm="ngForm" >
      <div class="form-group">
          <label>Name of galleries</label>
          <input #name="ngModel" required minlength="2" [(ngModel)]="galleries.name" name="name" type="text" class="form-control">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            
            
          </div>
      </div>

      <div class="form-group">
        <label>Description</label>
        <input #description="ngModel" required [(ngModel)]="galleries.description" name="description" type="text" class="form-control"
            text >
    
    </div>
<div class="container">
  <div class="row">
      <div class="col-xs-12">
        <form>
              <div class="form-group">
                  <label> Image</label>
                  <div class="form-group input-group">
                      <input type="text" name="multiple[]" class="form-control">
                      <span class="input-group-btn"><button type="button" class="btn btn-default btn-add">+</button></span>
                  </div>
              </div>
          </form>
    </div>
  </div>
</div>

      <br>
      <div class="input-group col-md-5 pl-0 my-lg-4 my-2">
          <button [disabled]="!galleriesForm.valid" type="submit" class="btn btn-primary mr-2">Add galleries</button>
          <button type="button" class="btn btn-default mr-2" (click)="galleriesForm.reset()" [disabled]="galleriesForm.form.pristine">
                      Reset
                </button>
      </div>
  </form>
</div>
